plugin.xml_gen
bin/
target/
tmp/
.settings/
MANIFEST.MF_gen
.DS_Store*
.metadata
runtimeInfo
workspace
*.~vsdx
.~*#
*.xls*
*.ods
*._trace
Thumbs.db
.Rhistory
.RData
output/output*.tsv
.pydevproject
deps/
diagrams/
results/
__pycache__/
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns/src-gen/hu/bme/mit/trainbenchmark/ttc/benchmark/emfincquery/.gitignore
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns/src-gen/hu/bme/mit/trainbenchmark/ttc/benchmark/emfincquery/util/.gitignore
hu.bme.mit.trainbenchmark.ttc.iml
.idea
hu.bme.mit.trainbenchmark.ttc.benchmark.sigma/.cache-main
hu.bme.mit.trainbenchmark.ttc.benchmark.sigma/.cache-tests
hu.bme.mit.trainbenchmark.ttc.benchmark.iml
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns/hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns.iml
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery/hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.iml
hu.bme.mit.trainbenchmark.ttc.benchmark.java/hu.bme.mit.trainbenchmark.ttc.benchmark.java.iml
hu.bme.mit.trainbenchmark.ttc.benchmark.sigma.iml
hu.bme.mit.trainbenchmark.ttc.emf/hu.bme.mit.trainbenchmark.ttc.emf.iml
hu.bme.mit.trainbenchmark.ttc.emf.model/hu.bme.mit.trainbenchmark.ttc.emf.model.iml
hu.bme.mit.trainbenchmark.ttc.generator/hu.bme.mit.trainbenchmark.ttc.generator.iml
.Rproj.user

