plugin.xml_gen
bin/
target/
tmp/
.settings/
MANIFEST.MF_gen
.DS_Store*
.metadata
runtimeInfo
workspace
*.~vsdx
.~*#
*.xls*
*.ods
*._trace
Thumbs.db
.Rhistory
.RData
output/output*.tsv
.pydevproject
deps/
diagrams/
results/
__pycache__/
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns/src-gen/hu/bme/mit/trainbenchmark/ttc/benchmark/emfincquery/.gitignore
hu.bme.mit.trainbenchmark.ttc.benchmark.emfincquery.patterns/src-gen/hu/bme/mit/trainbenchmark/ttc/benchmark/emfincquery/util/.gitignore
